
/*
*
* COLOR 1 = #00B285
* COLOR 2 = #482e54
* COLOR 3 = #222222;
*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: montserrat;
}

body {
  background: #222;
  background-repeat: no-repeat;
  color: #FFF;
}

a {
  color: #bbb;
  transition: .3s;
}

a:hover {
  text-decoration: none;
  boar
  color: white;
}

/* Bootstrap Override */


.skewed-bg {
  /*background: linear-gradient(#00B285, #222);*/
  background: #00B285;
  /*box-shadow: 0px 2px 16px #111;*/
  position: relative;
  height: 140%;
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
}

.skewed-bg .content {
  margin: auto;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  /*opacity: .6;*/
  text-align: center;
}
.skewed-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}

.services-skewed {

  background: #482e54;
  position: relative;
  padding: 200px 0;
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  margin-top: -200px;
  z-index: -1;
}

.services-skewed .content {
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  /*opacity: .6;*/
  text-align: right;
}
.services-skewed .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.services-skewed .content .text {
  margin: 25px auto;
  color: #ccfff2;
}

.footer {
  padding-top: 200px;
  background: #222;
}
.footer .credits {
  text-align: center;
  color: #666;
}
.footer .credits .link {
  color: #00B285;
  text-decoration: none;
}




/* === Parallax === */
.parallax {
  background: url('../img/para.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 111px;
  height: 500px;
}   
