html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: montserrat, "century gothic";
}

body {
  background: #222;
  color: #FFF;
}

.skewed-bg {
  background:
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
}s

.skewed-bg .content {
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  text-align: center;
}
.skewed-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}


/* SERVICES */

/* WORKS */
/* CLIENTS */
/* FOOTER */
.x_footer {
  padding-top: 300px;
}
.x_footer .x_credits {
  text-align: center;
  color: #666;
}
.x_footer .x_credits .link {
  color: #00B285;
  text-decoration: none;
}

.x-section {
  display: block;
  margin:0;
}
